:root {
    /* Vector-Two */
    --vec2-primary: rgb(125, 241, 164);
    --vec2-faded: rgb(37, 57, 37);
    --vec2-bright: rgb(2, 103, 5);
    --vec2-dark: rgb(0, 35, 1);
    --vec2-light: rgb(112, 193, 173);
    /* Neural Network Nonsense */
    --nnn-primary: rgb(80, 88, 86);
    --nnn-faded: rgb(43, 48, 47);
    --nnn-bright: rgb(170, 181, 178);
    --nnn-dark: rgb(28, 47, 56);
    --nnn-light: rgb(124, 166, 186);
    /* Immune Defender */
    --imdef-primary: rgb(109, 0, 0);
    --imdef-faded: rgb(58, 0, 0);
    --imdef-bright: rgb(213, 0, 0);
    --imdef-dark: rgb(30, 0, 0);
    --imdef-light: rgb(199, 199, 199);
    /* FIRST Robotics */
    --first-primary: rgb(58, 0, 136);
    --first-faded: rgb(85, 75, 99);
    --first-bright: rgb(33, 0, 79);
    --first-dark: rgb(74, 59, 10);
    --first-light: rgb(203, 158, 15);
    /* Chem-Helper */
    --ch-primary: rgb(145, 189, 220);
    --ch-faded: rgb(117, 150, 115);
    --ch-bright: rgb(83, 101, 114);
    --ch-dark: rgb(71, 71, 71);
    --ch-light: rgb(198, 198, 162);
    /* ConsoleSharp */
    --cs-primary: rgb(39, 56, 69);
    --cs-faded: rgb(86, 119, 143);
    --cs-bright: rgb(108, 191, 252);
    --cs-dark: rgb(55, 55, 55);
    --cs-light: rgb(137, 137, 137);
    /* Pong-Meister */
    --pm-primary: rgb(0, 0, 0);
    --pm-faded: rgb(45, 70, 88);
    --pm-bright: rgb(0, 53, 222);
    --pm-dark: rgb(0, 27, 113);
    --pm-light: rgb(255, 255, 255);
}

.vec2Primary {
    background-color: var(--vec2-primary);
}
.vec2Faded {
    background-color: var(--vec2-faded);
}
.vec2Bright {
    background-color: var(--vec2-bright);
}
.vec2Dark {
    background-color: var(--vec2-dark);
}
.vec2Light {
    background-color: var(--vec2-light);
}

.nnnPrimary {
    background-color: var(--nnn-primary);
}
.nnnFaded {
    background-color: var(--nnn-faded);
}
.nnnBright {
    background-color: var(--nnn-bright);
}
.nnnDark {
    background-color: var(--nnn-dark);
}
.nnnLight {
    background-color: var(--nnn-light);
}

.imdefPrimary {
    background-color: var(--imdef-primary);
}
.imdefFaded {
    background-color: var(--imdef-faded);
}
.imdefBright {
    background-color: var(--imdef-bright);
}
.imdefDark {
    background-color: var(--imdef-dark);
}
.imdefLight {
    background-color: var(--imdef-light);
}

.firstPrimary {
    background-color: var(--first-primary);
}
.firstFaded {
    background-color: var(--first-faded);
}
.firstBright {
    background-color: var(--first-bright);
}
.firstDark {
    background-color: var(--first-dark);
}
.firstLight {
    background-color: var(--first-light);
}

.chPrimary {
    background-color: var(--ch-primary);
}
.chFaded {
    background-color: var(--ch-faded);
}
.chBright {
    background-color: var(--ch-bright);
}
.chDark {
    background-color: var(--ch-dark);
}
.chLight {
    background-color: var(--ch-light);
}

.csPrimary {
    background-color: var(--cs-primary);
}
.csFaded {
    background-color: var(--cs-faded);
}
.csBright {
    background-color: var(--cs-bright);
}
.csDark {
    background-color: var(--cs-dark);
}
.csLight {
    background-color: var(--cs-light);
}

.pmPrimary {
    background-color: var(--pm-primary);
}
.pmFaded {
    background-color: var(--pm-faded);
}
.pmBright {
    background-color: var(--pm-bright);
}
.pmDark {
    background-color: var(--pm-dark);
}
.pmLight {
    background-color: var(--pm-light);
}