#pageBody {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100%;
}
#topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    height: 20vh;
    left: 20%;
    right: 20%;
    border-width: 0;
    border-style: solid;
    border-top-width: 0.5vw;
    border-bottom-width: 0.5vw;
    z-index: 10;
}
#nameText {
    font-size: 5vw;
    margin-top: 3vh;
}
#repoLink {
    position: absolute;
    margin-bottom: -12.5vh;
}
.sideBar {
    box-sizing: border-box;
    position: absolute;
    width: 20%;
    height: 100%;
    border: 0 solid;
    border-top-width: 0.5vw;
    outline: 0.5vw solid;
    z-index: 5;
}
.sideTextCont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5vh;
    align-items: center;
    position: absolute;
    top: 20vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.factTitle {
    font-size: 2vw;
    text-decoration: underline;
    text-decoration-thickness: 0.4vh;
    margin: 0;
}
.factText {
    font-size: 1.25vw;
    margin: 0;
}
#leftBar {
    left: 0;
    border-left-width: 0.5vw;
}
#body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60%;
    min-height: 80vh;
    margin-top: 20vh;
}
.overviewCont {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-top: 1vh;
    margin-bottom: 25vh;
    width: 70%;
}
.infoTitle {
    font-size: 2vw;
    text-decoration: underline;
    text-decoration-thickness: 0.4vh;
    margin: 0;
}
.infoText {
    font-size: 1.25vw;
    margin: 0;
    width: 100%;
}
.projImg {
    width: 70%;
    height: auto;
    margin: 2vh;
    border: 0.75vw solid;
}
#rightBar {
    right: 0;
    border-right-width: 0.5vw;
}
#homeButton {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 7.5vw;
    height: 7.5vh;
    left: 0.5vw;
    top: 0.5vw;
    background-color: var(--cover-color);
    outline: solid;
    outline-width: 0.35vw;
    outline-color: var(--outline-color);
    border-radius: 40%;
    transform-origin: center;
    z-index: 3;
}
#homeButton:hover {
    background-color: var(--bg-color);
    outline-color: var(--cover-color);
}
#homeBText {
    font-size: 1.5vw;
    color: var(--text-color);
}
.link {
    text-align: center;
    font-size: 1.5vw;
}
/* Loading */
#loadingCover {
    position: fixed;
    transform: scale(1);
    width: 100%;
    height: 100%;
    inset: 0;
    transition: transform 1s ease-in;
    outline-style: solid;
    outline-width: 100vw;
    z-index: 100;
}
html body {
    padding: 0;
    margin: 0;
    width: 100%;
}