.titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16vh;
    margin-top: 0;
    background-color: rgb(3, 7, 99);
}
.mainText {
    color: rgb(227, 223, 205);
    text-align: center;
    transform-origin: center;
    z-index: 1;
}
#titleText {
    font-size: 10vw;
    transform: scale(0);
    transition: transform 1s ease;
    white-space: nowrap;
}
#bodyTextCont {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 84vh;
    background-color: rgb(10, 13, 69);
}
.sideBar {
    display: flex;
    position: absolute;
    background-color: rgb(34, 41, 51);
    width: 20%;
    min-height: 84vh;
    transition: transform 1s ease;
    z-index: 15;
}
.outline {
    background-color: rgb(209, 119, 2);
    position: absolute;
}
.tOutline {
    width: 100%;
    height: 0.5vw;
    transition: transform 0.66s ease;
}
.sOutline {
    width: 0.5vw;
    height: 100%;
}
#tbtOutline {
    align-self: flex-start;
    transform: translateY(-100%);
}
#tbbOutline {
    align-self: flex-end;
    transform: translateY(100%);
}
#slsOutline {
    margin-right: 0;
    margin-left: 97.5%;
}
#srsOutline {

}
#leftBar {
    transform: translateX(-300%);
}
#rightBar {
    transform: translateX(300%);
}
.bodyText {
    font-size: 1.25vw;
}
.cover {
    background-color: rgb(3, 4, 29);
    position: absolute;
    transition: transform 1s ease;
    z-index: 10;
}
.horizBlock {
    height: 16vh;
    width: 50vw;
}
#leftBlock {
    transform: translateX(-50%);
}
#rightBlock {
    transform: translateX(50%);
}
#pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84vh;
    margin-top: 0;
}
#downBlock {
    height: 84vh;
    width: 100%;
}
div {
    transform-origin: center;
}
body {
    background-color: rgb(3, 4, 29);
    overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}