/* General classes/elements */
.overlay {
    z-index: 15;
}
.mainText {
    color: var(--text-color);
}
.outline {
    position: absolute;
}
.cover {
    position: absolute;
    transition: transform 1s ease;
    z-index: 30;
}
.link {
    color: var(--link-color);
    font-size: 1.5vw;
    text-align: center;
}
div {
    transform-origin: center;
}
body {
    background-color: var(--cover-color);
    overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Title bar */
.titleBar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16vh;
    margin-top: 0;
}
#titleText {
    font-size: 10vw;
    transform: scale(0);
    transition: transform 1s ease;
    white-space: nowrap;
    margin-top: 10vh;
}
#profileLink {
    position: absolute;
    margin-bottom: -8.5vh;
    transform: scale(0);
    transition: transform 1s ease;
}
.tOutline {
    width: 100%;
    height: 0.5vw;
    transition: transform 0.66s ease;
}

#tbtOutline {
    align-self: flex-start;
    transform: translateY(-100%);
}

#tbbOutline {
    align-self: flex-end;
    transform: translateY(100%);
}
.horizBlock {
    height: 16vh;
    width: 50vw;
}
#leftBlock {
    transform: translateX(-50%);
}
#rightBlock {
    transform: translateX(50%);
}

/* Main page */
#pageBody {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 84vh;
    margin-top: 0;
}
#downBlock {
    height: 84vh;
    width: 100%;
    z-index: 20;
}

/* Page edges */
.sideBar {
    display: flex;
    position: absolute;
    width: 20%;
    height: 100%;
    transition: transform 1s ease;
    z-index: 35;
    border-color: var(--outline-color);
    border-style: solid;
    border-width: 0;
}
#leftBar {
    transform: translateX(-300%);
    border-right-width: 0.5vw;
}
#rightBar {
    transform: translateX(300%);
    border-left-width: 0.5vw;
}

/* Content lock */
#bodyLockCont {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 62%;
    height: 84vh;
    transform-origin: center;
    transform: translateX(0);
    z-index: 5;
}
.unlockBG {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in;
}
#unlockBGMain {
    background-color: none;
}
.unlockMoveBG {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
    border: 0 solid var(--outline-accent-color);
}
#unlockBGLeft {
    border-right-width: 0.5vw;
}
#unlockBGRight {
    border-left-width: 0.5vw;
}
#unlockButton {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 7.5vw;
    height: 7.5vh;
    background-color: var(--cover-color);
    outline: solid;
    outline-width: 0.35vw;
    outline-color: var(--outline-color);
    border-radius: 40%;
    transform-origin: center;
    transition: transform 0.4s ease-in;
    z-index: 3;
}
#unlockButton:hover {
    background-color: var(--bg-color);
    outline-color: var(--cover-color);
}
#unlockText {
    font-size: 1.5vw;
}

/* Projects grid */
#projectsCont {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5vh;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* Projects title bar */
#projTitleBG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform-origin: center;
    height: 7vh;
    border-bottom: 0.5vw solid black;
}
#projTitleText {
    font-size: 2vw;
    text-align: center;
}

/* Projects grid content */
#projBoxCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2vh 7.5vw;
}
.projectBox {
    display: flex;
    flex-wrap: wrap;
    gap: 0vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 18vh;
    transform-origin: center;
    border: 0.5vw solid black;
}
.projectName {
    font-size: 1.1vw;
}
.projectButton {
    display: flex;
    width: 5vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cover-color);
    outline: solid;
    outline-width: 0.35vw;
    outline-color: var(--outline-color);
    border-radius: 40%;
}
.projectButton:hover {
    background-color: var(--bg-color);
    outline-color: var(--cover-color);
}
.projButtonText {
    font-size: 1vw;
}

/* Loading */
#loadingCover {
    position: fixed;
    transform: scale(0);
    width: 100%;
    height: 100%;
    inset: 0;
    transition: transform 1s ease-in;
    background-color: none;
    outline-color: none;
    outline-style: solid;
    outline-width: 0;
    z-index: 100;
}