:root {
    --cover-color: rgb(3, 4, 29);
    --text-color: rgb(227, 223, 205);
    --outline-color: rgb(209, 119, 2);
    --bg-color: rgb(10, 13, 69);
    --accent-blue: rgb(3, 7, 99);
    --accent-gray: rgb(34, 41, 51);
    --outline-accent-color: black;
}
.overlay {
    z-index: 15;
}
.titleBar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16vh;
    margin-top: 0;
    background-color: var(--accent-blue);
}
.mainText {
    color: var(--text-color);
    text-align: center;
    transform-origin: center;
}
#titleText {
    font-size: 10vw;
    transform: scale(0);
    transition: transform 1s ease;
    white-space: nowrap;
}
#bodyTextCont {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 84vh;
    background-color: var(--bg-color);
}
.sideBar {
    display: flex;
    position: absolute;
    background-color: var(--accent-gray);
    width: 20%;
    min-height: 84vh;
    transition: transform 1s ease;
    z-index: 35;
}
.outline {
    background-color: var(--outline-color);
    position: absolute;
}
.tOutline {
    width: 100%;
    height: 0.5vw;
    transition: transform 0.66s ease;
}
.sOutline {
    width: 0.5vw;
    height: 100%;
}
#tbtOutline {
    align-self: flex-start;
    transform: translateY(-100%);
}
#tbbOutline {
    align-self: flex-end;
    transform: translateY(100%);
}
#slsOutline {
    margin-right: 0;
    margin-left: 97.5%;
}
#srsOutline {

}
#leftBar {
    transform: translateX(-300%);
}
#rightBar {
    transform: translateX(300%);
}
.bodyText {
    font-size: 1.25vw;
    position: absolute;
}
.cover {
    background-color: var(--cover-color);
    position: absolute;
    transition: transform 1s ease;
    z-index: 30;
}
.horizBlock {
    height: 16vh;
    width: 50vw;
}
#leftBlock {
    transform: translateX(-50%);
}
#rightBlock {
    transform: translateX(50%);
}
#pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84vh;
    margin-top: 0;
}
.unlockBG {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in;
}
#unlockBGMain {
    background-color: none;
}
.unlockMoveBG {
    display: flex;
    position: relative;
    background-color: var(--accent-blue);
    height: 100%;
    width: 50%;
}
.unlockOutline {
    position: absolute;
    background-color: var(--outline-accent-color);
    height: 100%;
    width: 0.5vw;
}
#unlockBGLeft {
    justify-content: flex-end;
}
#unlockBGRight {
    justify-content: flex-start;
}
#unlockOutlineL {

}
#unlockOutlineR {

}
#unlockButton {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 7.5vw;
    height: 7.5vh;
    background-color: var(--cover-color);
    outline: solid;
    outline-width: 0.35vw;
    outline-color: var(--outline-color);
    box-shadow: none;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.4s ease-in;
    z-index: 3;
}
#unlockButton:hover {
    background-color: var(--bg-color);
    outline-color: var(--cover-color);
}
#unlockText {
    font-size: 1.5vw;
}
#downBlock {
    height: 84vh;
    width: 100%;
    z-index: 20;
}
div {
    transform-origin: center;
}
body {
    background-color: var(--cover-color);
    overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}