.titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vh;
    margin-top: 0;
    background-color: rgb(3, 7, 99);
}
.mainText {
    color: rgb(227, 223, 205);
    text-align: center;
    transform-origin: center;
    z-index: 1;
}
#titleText {
    font-size: 10vw;
    transform: scale(0);
    transition: transform 1s ease;
    white-space: nowrap;
}
#bodyTextCont {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 86vh;
    background-color: rgb(10, 13, 69);
}
.sideBar {
    display: flex;
    position: absolute;
    background-color: rgb(34, 41, 51);
    width: 20%;
    min-height: 86vh;
    transition: transform 1s ease;
    z-index: 15;
}
#leftBar {
    transform: translateX(-300%);
}
#rightBar {
    transform: translateX(300%);
}
.bodyText {
    font-size: 1.25vw;
}
.cover {
    background-color: rgb(3, 4, 29);
    position: absolute;
    transition: transform 1s ease;
    z-index: 10;
}
.horizBlock {
    height: 14vh;
    width: 50vw;
}
#leftBlock {
    transform: translateX(-50%);
}
#rightBlock {
    transform: translateX(50%);
}
#pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86vh;
    margin-top: 0;
}
#downBlock {
    height: 86vh;
    width: 100%;
}
div {
    transform-origin: center;
}
body {
    background-color: rgb(3, 4, 29);
    overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}