.titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: 1vh;
}
.mainText {
    color: rgb(227, 223, 205);
    text-align: center;
    transform-origin: center;
    z-index: 1;
}
#titleText {
    font-size: 10vw;
    transform: scale(0);
    transition: transform 1s ease;
    white-space: nowrap;
}
#bodyTextCont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 88vh;
}
.bodyText {
    font-size: 1.25vw;
}
.cover {
    background-color: rgb(3, 4, 29);
    position: absolute;
    transform-origin: center;
    transition: transform 1s ease;
    z-index: 10;
}
.horizBlock {
    height: 12vh;
    width: 50vw;
}
#leftBlock {
    transform: translateX(-50%);
}
#rightBlock {
    transform: translateX(50%);
}
#pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    margin-top: 1vh;
}
#downBlock {
    height: 88vh;
    width: 100%;
}
body {
    background-color: rgb(10, 13, 69);
    overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}